<header>
    <div class="brand-name">
      <a href=""><img src="./assets/amplelogic-logo.png" title="ample logic" alt="ample logic logo" /></a>
    </div>
    <nav>
      <ul>
        <li><a href="">Organization Structure</a></li>
        <li><a href="">Configurations</a></li>
        <li><a href="">Reports</a></li>
        <li><a href="">ETL</a></li>
      </ul>
    </nav>
    <div class="user-info">
      <div class="select-language">
        <img src="./assets/us.png" title="language" alt="language">
      </div>
      <div class="notification"><span class="notification-dot"></span><mat-icon>notifications_none</mat-icon></div>
      <div class="current-user"><img src="./assets/employee.png"  title="employee" alt="employee"></div>
    </div>
</header>
